@{ ViewData["Title"] = "Adminintermediate"; }


<style>
    h1 {
        color: black;
    }
    body {
        background: url(https://hrasiamedia.com/2017/wp-content/uploads/2017/10/pensioners1250.jpg);
        background-size: cover;
    }
</style>
<h1>Features</h1>
<hr />
<div>
    <a asp-action="PensionPortal" class="btn btn-dark" role="button">View Pensioner Details</a>
    

</div>

<hr />
<div>
    <a asp-action="Delete" class="btn btn-dark" role="button">Delete Pensioner Details</a>
    


</div>
<hr />