@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    body {
        background: url(https://wallup.net/wp-content/uploads/2018/09/27/15991-abstract-minimalistic-white.jpg);
    }
    </style>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
